<!DOCTYPE html>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="/css/bootstrap.min.css" />

	<title>Blog NodeJS</title>
</head>
<body>
	{{>_navbar}}
		<div class="container mt-4">
			{{#if error}}
				<div class="alert alert-danger">{{error}}</div>
			{{else}}
			{{/if}}
			{{#if success}}
				<div class="alert alert-success">{{success}}</div>
			{{else}}
			{{/if}}
			{{>_msg}}
			{{{body}}}
		</div>
</body>
	<script src="/js/bootstrap.bundle.min.js"></script>

</html>